<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Llo</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="title">
      Llo
    </div>
    <div class="composer">
      <form action="/submit" method="post">
        <input class="input" type="text" name="content" placeholder="Say Llo..."> 
      </form>
    </div>
    <div class="posts">
      <% for (var i = posts.length-1; i >= 0 ; i--) { %>
        <div class="post">
          <%= <render your content here> %>
        </div>
      <% } %>
    </div>
  </body>
</html>
