body {
  background-color: #ccf5f5;
  color: white;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.penguin {
  width: 200px;
  height: 200px;
  background-image:url("media/mound_1.png");
  float: left;
}

.penguin:hover {
  background-image:url("media/mound_1_hover.png");
}

.penguin1:active {
  background-image:url("media/penguin_1.png");
}

.penguin2:active {
  background-image:url("media/penguin_2.png");
}

.penguin3:active {
  background-image:url("media/penguin_3.png");
}
